---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	  title="关于我"
	  description="关于本站与作者的介绍"
	  pubDate={new Date('August 08 2021')}
	  heroImage={AboutHeroImage}
>
	<p>
		你好，欢迎来到关于页面。这里将介绍本站的意义与作者的背景。
	</p>

	<p>
		本站致力于分享技术、设计与生活的点滴，希望能为读者带来启发与帮助。作者是一名热爱编程与创作的工程师，喜欢探索新鲜事物并将其转化为有价值的内容。
	</p>

	<p>
		在这里，你可以看到关于前端开发、产品设计、人工智能等方面的文章与思考，也会不定期更新个人项目与心得。
	</p>

	<p>
		感谢你的访问与支持，希望你在浏览过程中有所收获。
	</p>
</Layout>