---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 你好，宇航员！</h1>
			<p>
				欢迎来到基于 <a href="https://astro.build/">Astro</a> 的博客模板。这个模板
				是一个轻量级、最小化风格的起点，适合任何想要使用Astro构建个人网站、博客或作品集的人。
			</p>
			<p>
				这个模板已经预先配置了一些集成，您可以在
				<code>astro.config.mjs</code> 文件中看到。您可以通过
				<a href="https://astro.build/integrations">Astro集成</a> 来定制您的设置，
				如添加 Tailwind、React 或 Vue 到您的项目中。
			</p>
			<p>以下是一些开始使用这个模板的建议：</p>
			<ul>
				<li>在 <code>src/pages/index.astro</code> 中编辑此页面</li>
				<li>在 <code>src/components/Header.astro</code> 中编辑网站头部项目</li>
				<li>在 <code>src/components/Footer.astro</code> 中添加您的名字</li>
				<li>查看 <code>src/content/blog/</code> 中的博客文章示例</li>
				<li>在 <code>src/layouts/BlogPost.astro</code> 中定制博客文章布局</li>
			</ul>
			<p>
				祝您使用愉快！如果遇到问题，请记住
				<a href="https://docs.astro.build/">阅读文档</a>
				或 <a href="https://astro.build/chat">加入Discord社群</a> 提问。
			</p>
			<p>
				想要一个更有特色的博客模板？试试
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				由 <a href="https://twitter.com/Charca">Maxi Ferreira</a> 提供。
			</p>
		</main>
		<Footer />
	</body>
</html>